[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/csv.vim"]
	path = vim/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
